---
interface Props {
  src: string
  mime?: string
  title?: string
  downloadHref?: string
  preload?: 'none' | 'metadata' | 'auto'
  inline?: boolean
}

const { src, mime, title = 'Audio', downloadHref = src, preload = 'metadata', inline = false } = Astro.props
const figureClass = {
  'media-audio': true,
  'media-audio--inline': inline,
}
---

<figure class:list={figureClass}>
  <audio controls preload={preload} crossorigin="anonymous">
    <source src={src} type={mime} />
    <a class="media-audio__download" href={downloadHref} rel="noopener noreferrer">
      Download {title}
    </a>
  </audio>
  <figcaption>
    <span class="media-audio__title">{title}</span>
    {
      downloadHref && (
        <a class="media-audio__download" href={downloadHref} rel="noopener noreferrer">
          Download
        </a>
      )
    }
  </figcaption>
</figure>
