---
import { getEnv } from '../lib/env'
import voidFile from '../assets/void.png'
import rss from '../assets/rss.svg'
import soundcloud from '../assets/soundcloud.svg'
import bandcamp from '../assets/bandcamp.svg'
import spotify from '../assets/spotify.svg'
import applemusic from '../assets/applemusic.svg'

const { SITE_URL, RSS_URL } = Astro.locals
const { channel } = Astro.props

const SOUNDCLOUD = getEnv(import.meta.env, Astro, 'SOUNDCLOUD')
const BANDCAMP = getEnv(import.meta.env, Astro, 'BANDCAMP')
const SPOTIFY = getEnv(import.meta.env, Astro, 'SPOTIFY')
const APPLEMUSIC = getEnv(import.meta.env, Astro, 'APPLEMUSIC')

const staticProxy = getEnv(import.meta.env, Astro, 'STATIC_PROXY') ?? '/static/'
---

<div id="header">
  <a href={SITE_URL} title={channel?.title}>
    <img
      src={channel?.avatar?.startsWith('http') ? staticProxy + channel?.avatar : voidFile.src}
      alt={channel?.title}
      loading="eager"
      class="header-avatar"
    />
  </a>
  <div class="header-title">
    <a href={SITE_URL} class="site-title" title={channel?.title}>
      {channel?.title}
    </a>
  </div>
  <div class="header-icons">
    {
      SOUNDCLOUD && SOUNDCLOUD.length > 0 && (
        <a href={SOUNDCLOUD} title="SoundCloud" target="_blank">
          <img {...soundcloud} alt="SoundCloud" class="social-icon" width="1em" />
        </a>
      )
    }

    {
      BANDCAMP && BANDCAMP.length > 0 && (
        <a href={BANDCAMP} title="Bandcamp" target="_blank">
          <img {...bandcamp} alt="Bandcamp" class="social-icon" width="1em" />
        </a>
      )
    }

    {
      SPOTIFY && SPOTIFY.length > 0 && (
        <a href={SPOTIFY} title="Spotify" target="_blank">
          <img {...spotify} alt="Spotify" class="social-icon" width="1em" />
        </a>
      )
    }

    {
      APPLEMUSIC && APPLEMUSIC.length > 0 && (
        <a href={APPLEMUSIC} title="Apple Music" target="_blank">
          <img {...applemusic} alt="Apple Music" class="social-icon" width="1em" />
        </a>
      )
    }

    <a href={RSS_URL} target="_blank" rel="alternate" type="application/rss+xml" title="RSS Feed">
      <img {...rss} alt="RSS" class="social-icon" width="1em" />
    </a>
  </div>
</div>

{
  channel?.descriptionHTML && channel?.descriptionHTML.length > 0 && (
    <div class="text-box" id="site-intro" set:html={channel?.descriptionHTML} />
  )
}

<style>
  #site-intro {
    color: var(--secondary-color);
    background-color: var(--code-background-color);
    word-break: break-word;

    & :global(.emoji) {
      font-style: normal;
      margin-right: 2px;
    }
  }

  .social-icon {
    padding: 4px;
  }

  .header-icons {
    gap: 2px;
  }
</style>
